.nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__logo .link {
        font-size: 24px;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 50px;
        &-item-btn {
            padding: 10px 20px;
            background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
            border: none;
            border-radius: 10px;
        }
    }
    .fa-bars {
        display: none;
    }
}

